<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			{{#if featured}}
				<span class="post-feature">
					<i class="icon icon-star">{{> "icons/icon-star"}}</i>
				</span>
			{{/if}}
			<h2 class="post-title"><a href="{{url}}"></a></h2>
			</span>
			<p class="post-excerpt">{{content}}&hellip;</p>
			<span class="post-meta">
				{{t "→"}}
				<a href="{{url}}"><time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time></a>
			</span>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
